{% extends "layout_user.html" %}
{% block title %}Graph{% endblock %}
{% block content %}
<style>
.link{
	fill: none;
	stroke: #666;
	stroke-width: 1.5px;
}

/* Arrow head*/
#green {
	fill: green;
}

#blue {
	fill: blue;
}

#red {
	fill: red;
}

#purple {
	fill: blue;
}

#gray {
	fill: gray;
}

.link.green{
	stroke: green;
	stroke-width: 0.1;
}

.link.red{
	stroke: red;
	stroke-width: 1;
}

.link.blue{
	stroke: blue;
	stroke-width: 1;
}

.link.purple{
	stroke: purple;
	stroke-width: 2;
}

.link.gray{
	stroke: gray;
	stroke-width: 0.001;
}
circle {
	fill: #ccc;
	stroke: #333;
	stroke-width: 1.5px;
}

text {
	font: 13px sans-serif;
	pointer-events: none;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
</style>

<div class="widget widget-nopad">
	<div class="widget-header"> <i class="icon-list-alt"></i>
		<h3> Select a stress</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content">
		<div class="widget big-stats-container">
			<div class="widget-content">
				<h6 class="bigstats">Application which filters relations between keywords.</h6>
				<div id="big_stats" class="cf">
					<h6 class="bigstats">
						<font color="#00ba8b"><h4>Select a stress</h4></font>
						<div class="dropdown">
						  <button class="btn dropdown-toggle sr-only" type="button" id="" data-toggle="dropdown">

						    <span class="caret"></span>
						  </button>

						  <ul class="dropdown-menu" role="menu" aria-labelledby="">
								<li><a href="graph_green">Green</a></li>
								<li><a href="graph_blue">Blue</a></li>
								<li><a href="graph_purple">Purple</a></li>
								<li><a href="graph_red">Red</a></li>
								<li><a href="graph_grey">Grey</a></li>
								<li><a href="graph_all">All Colors</a></li>
						  </ul>
						</div>
						<table class="table table-striped table-bordered">
							<tr>
								<th><b>Color of the line</b></th>
								<th><b>Amount of hits</b></th>
						  </tr>
						  <tr>
						    <td>Gray</td>
						    <td>50 or less</td>
						  </tr>
						  <tr>
						    <td><font color=green>Green</font></td>
						    <td><font color=green>51 to 200</font></td>
						  </tr>
						  <tr>
						    <td><font color=blue>Blue</font></td>
						    <td><font color=blue>201 to 500</font></td>
						  </tr>
						  <tr>
						    <td><font color=purple>Purple</font></td>
						    <td><font color=purple>501 to 800</font></td>
						  </tr>
						  <tr>
						    <td><font color=red>Red</font></td>
						    <td><font color=red>Above 800</font></td>
						  </tr>
						</table>

					<br>
					<br><br>
					<br>
					<br>


			</div>
			<!-- /widget-content -->

		</div>
	</div>
</div>
{% endblock %}
