{% extends "layout_user.html" %}
{% block title %}Phylogenitcs{% endblock %}
{% block content %}
<div class="widget widget-nopad">
	<div class="widget-header"> <i class="icon-list-alt"></i>
		<h3> Phylogenitcs</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content">
		<div class="widget big-stats-container">
			<div class="widget-content">
				<h6 class="bigstats">Searching Orthologs</h6>
				<div id="big_stats" class="cf">
					<div STYLE="padding: 20px;">
						<h3><font color="#00ba8b">Insert an EGGnog ID.</font></h3>
						<form action="/reports" method="GET">
							<input type="text" name="keyword"></input>
							<input type="submit" name="submit" value="Search"></input>
						</form>
						<h4>Keep in mind that bigger phylogenetic trees will take a minute or two.</h4>
						{% if trail %}
						<font color="#00ba8b">{{ trail }}</font>
						{% endif %}
					</div>
					<iframe src={{ trail }} width="1160" height="5000"></iframe>


			</div>
			<!-- /widget-content -->

		</div>
	</div>
</div>




{% endblock %}
