{% extends "layout_user.html" %}
{% block title %}API's{% endblock %}
{% block content %}
<div class="widget widget-nopad">
	<div class="widget widget-table action-table">
		<div class="widget-header"> <i class="icon-th-list"></i>
			<h3>All the API's used</h3>
		</div>
		<!-- /widget-header -->
		<div class="widget-content">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th> API </th>
						<th> Link</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> Entrez API </td>
						<td> https://www.ncbi.nlm.nih.gov/home/develop/api/ </td>
					</tr>
					<tr>
						<td> NCBI CCB API </td>
						<td> https://www.ncbi.nlm.nih.gov/ </td>
					</tr>
					<tr>
						<td> EggNOG API </td>
						<td> http://eggnogdb.embl.de/#/app/home </td>
					</tr>
					<tr>
						<td> UNIPROT API </td>
						<td> http://www.uniprot.org/help/programmatic_access </td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- /widget-content -->
	</div>

</div>
{% endblock %}
