{% extends "layout_user.html" %}
{% block title %}Sunburst{% endblock %}
{% block content %}
<div class="widget widget-nopad">
	<div class="widget-header"> <i class="icon-list-alt"></i>
		<h3> Table </h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content">
		<div class="widget big-stats-container">
			<div class="widget-content"> <!-- width="500" height="400" -->
				<h6 class="bigstats"> Table </h6>
				<div id="big_stats" class="cf">
			</div>
			<!-- /widget-content -->
		</div>
	</div>
</div>


{% endblock %}
