{% extends "layout_user.html" %}
{% block title %}Flowchart{% endblock %}
{% block content %}
<div class="widget widget-nopad">
	<div class="widget-header"> <i class="icon-list-alt"></i>
		<h3> Today's Stats</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content">
		<div class="widget big-stats-container">
			<div class="widget-content">
				<h6 class="bigstats">Applicatie die genen en anthocyanen met stressomstandigheden koppeld.</h6>
				<div id="big_stats" class="cf">
					<image>
						<img src="../static/img/flowchart.png">
					</image>


			</div>
			<!-- /widget-content -->

		</div>
	</div>
</div>
{% endblock %}
