{% extends "layout_user.html" %}
{% block title %}Graph{% endblock %}
{% block content %}
<style>
.link{
	fill: none;
	stroke: #666;
	stroke-width: 1.5px;
}

/* Arrow head*/
#green {
	fill: green;
}

#blue {
	fill: blue;
}

#red {
	fill: red;
}

#purple {
	fill: blue;
}

#gray {
	fill: gray;
}

.link.green{
	stroke: green;
	stroke-width: 0.1;
}

.link.red{
	stroke: red;
	stroke-width: 1;
}

.link.blue{
	stroke: blue;
	stroke-width: 1;
}

.link.purple{
	stroke: purple;
	stroke-width: 2;
}

.link.gray{
	stroke: gray;
	stroke-width: 0.001;
}
circle {
	fill: #ccc;
	stroke: #333;
	stroke-width: 1.5px;
}

text {
	font: 13px sans-serif;
	pointer-events: none;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
</style>

<div class="widget widget-nopad">
	<div class="widget-header"> <i class="icon-list-alt"></i>
		<h3> Blue</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content">
		<div class="widget big-stats-container">
			<div class="widget-content">
				<h6 class="bigstats">Application which filters relations between keywords.</h6>
				<div id="big_stats" class="cf">
					<h6 class="bigstats">
						<font color="#00ba8b"><h4>Select a stress</h4></font>
						<div class="dropdown">
						  <button class="btn dropdown-toggle sr-only" type="button" id="" data-toggle="dropdown">

						    <span class="caret"></span>
						  </button>

							<ul class="dropdown-menu" role="menu" aria-labelledby="">
								<li><a href="graph_green">Green</a></li>
								<li><a href="graph_blue">Blue</a></li>
								<li><a href="graph_purple">Purple</a></li>
								<li><a href="graph_red">Red</a></li>
								<li><a href="graph_grey">Grey</a></li>
								<li><a href="graph_all">All Colors</a></li>
						  </ul>
						</div>
						<table class="table table-striped table-bordered">
							<tr>
								<th><b>Color of the line</b></th>
								<th><b>Amount of hits</b></th>
						  </tr>
						  <tr>
						    <td>Gray</td>
						    <td>50 or less</td>
						  </tr>
						  <tr>
						    <td><font color=green>Green</font></td>
						    <td><font color=green>51 to 200</font></td>
						  </tr>
						  <tr>
						    <td><font color=blue>Blue</font></td>
						    <td><font color=blue>201 to 500</font></td>
						  </tr>
						  <tr>
						    <td><font color=purple>Purple</font></td>
						    <td><font color=purple>501 to 800</font></td>
						  </tr>
						  <tr>
						    <td><font color=red>Red</font></td>
						    <td><font color=red>Above 800</font></td>
						  </tr>
						</table>

					<br>
					<br><br>
					<br>
					<br>
					<graph></graph>


			</div>
			<!-- /widget-content -->

		</div>
	</div>
</div>

<div>


	<script src="../static/js/jquery-1.7.2.min.js"></script>
	<script src="//d3js.org/d3.v3.min.js"></script>
	<script>
  var links = [
  {
    "source": "ROS",
    "type": "red",
    "target": "anthocyanins"
  },
  {
    "source": "anthocyanin",
    "type": "red",
    "target": "cultivar"
  },
  {
    "source": "flavonoids",
    "type": "red",
    "target": "oxidative"
  },
  {
    "source": "MDA",
    "type": "red",
    "target": "oxidative"
  },
  {
    "source": "anthocyanins",
    "type": "red",
    "target": "drought"
  },
  {
    "source": "anthocyanins",
    "type": "red",
    "target": "oxidative"
  },
  {
    "source": "anthocyanin",
    "type": "red",
    "target": "drought"
  },
  {
    "source": "ROS",
    "type": "red",
    "target": "oxidative"
  },
  {
    "source": "NaCl",
    "type": "red",
    "target": "salinity"
  },
  {
    "source": "NaCl",
    "type": "red",
    "target": "oxidative"
  }
]

	var nodes = {};

	links.forEach(function(link) {
		link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
		link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
	});

	var width = 1200,
			height = 5000;

	var force = d3.layout.force()
				.nodes(d3.values(nodes))
				.links(links)
				.size([width, height])
				.linkDistance(300)
				.charge(-300) // Reppelling factor
				.on("tick", tick)
				.start();



	var svg = d3.select("graph").append("svg")
				.attr("width", width)
				.attr("height", height);

	svg.append("defs").selectAll("marker")
	    .data(["blue", "green", "purple", "red","gray"])
	  .enter().append("marker")
	    .attr("id", function(d) { return d; })
	    .attr("viewBox", "0 -5 10 10")
	    .attr("refX", 15)
	    .attr("refY", -1.5)
	    .attr("markerWidth", 6)
	    .attr("markerHeight", 6)
	    .attr("orient", "auto")
	  .append("path")
	    .attr("d", "M0,-5L10,0L0,5");

	var path = svg.append("g").selectAll("path")
	    .data(force.links())
	  .enter().append("path")
	    .attr("class", function(d) { return "link " + d.type; })
	    .attr("marker-end", function(d) { return "url(#" + d.type + ")"; });

	var circle = svg.append("g").selectAll("circle")
	    .data(force.nodes())
	  .enter().append("circle")
	    .attr("r", 6)
			.on("click", function(d){
				window.location.href = "charts?keyword="+d.name;

			})
	    .call(force.drag);

	var text = svg.append("g").selectAll("text")
	    .data(force.nodes())
	  .enter().append("text")
	    .attr("x", 8)
	    .attr("y", ".31em")
	    .text(function(d) { return d.name; });


	// Use elliptical arc path segments to doubly-encode directionality.
	function tick() {
	  path.attr("d", linkArc);
	  circle.attr("transform", transform);
	  text.attr("transform", transform);
	}

	function linkArc(d) {
	  var dx = d.target.x - d.source.x,
	      dy = d.target.y - d.source.y,
	      dr = Math.sqrt(dx * dx + dy * dy);
	  return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
	}

	function transform(d) {
	  return "translate(" + d.x + "," + d.y + ")";
	}

	</script>
<div>

{% endblock %}
