{% extends "layout_user.html" %}
{% block title %}Graph{% endblock %}
{% block content %}
<style>
.link{
	fill: none;
	stroke: #666;
	stroke-width: 1.5px;
}

/* Arrow head*/
#verylow {
	fill: yellow;
}

#low {
	fill: green;
}

#medium {
	fill: red;
}

#high {
	fill: blue;
}

.link.medium{
	stroke: red;
	stroke-width: 3;
}

.link.low {
	stroke: green;
	stroke-width: 3;
}

.link.verylow {
	stroke: yellow;
	stroke-width: 3;
}

.link.high {
	stroke-dasharray: 0,2 1;
	stroke: blue;
	stroke-width: 3;
}


circle {
	fill: #ccc;
	stroke: #333;
	stroke-width: 1.5px;
}

text {
	font: 13px sans-serif;
	pointer-events: none;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
</style>
<div class="widget widget-nopad">
	<div class="widget-header"> <i class="icon-list-alt"></i>
		<h3> Today's Stats</h3>
	</div>
	<!-- /widget-header -->
	<div class="widget-content">
		<div class="widget big-stats-container">
			<div class="widget-content">
				<h6 class="bigstats">Applicatie die genen en anthocyanen met stressomstandigheden koppeld.</h6>
				<div id="big_stats" class="cf">
					<h6 class="bigstats">De betekenis van de verschillende kleuren:<br>Groene lijn:<br>Groene lijn:<br>Groene lijn:<br>Groene lijn:</h6>
					<graph>

					</graph>


			</div>
			<!-- /widget-content -->

		</div>
	</div>
</div>

<div>

	<script src="//d3js.org/d3.v3.min.js"></script>
	<script>
	var links = [
		{source: "BRCA1", target: "BRCA2", type: "low", count: 50213},
		{source: "BRCA1", target: "Death", type: "medium", count: 50213},
		{source: "BRCA1", target: "Breast", type: "verylow", count: 50213},
		{source: "BRCA1", target: "Tumor", type: "high", count: 50213},
		{source: "breast", target: "BRCA2", type: "low", count: 50213},
		{source: "CELL", target: "Death", type: "medium", count: 50213},
		{source: "BRCA1", target: "ARHK1", type: "verylow", count: 50213},
		{source: "Death", target: "Tumors", type: "high", count: 50213},
		{source: "BRCA1", target: "Female", type: "low", count: 50213},
		{source: "breast", target: "Anthocyanin", type: "medium", count: 50213},
		{source: "BRCA1", target: "Breast", type: "verylow", count: 50213},
		{source: "BRCA1", target: "celldeath", type: "high", count: 50213},
		{source: "EBOLA", target: "Luka", type: "high", count: 50213},
		{source: "Luka", target: "EBOLA", type: "high", count: 50213}
	]

	var nodes = {};

	links.forEach(function(link) {
		link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
		link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
	});

	var width = 1280,
			height = 720;

	var force = d3.layout.force()
				.nodes(d3.values(nodes))
				.links(links)
				.size([width, height])
				.linkDistance(100)
				.charge(-230) // Reppelling factor
				.on("tick", tick)
				.start();



	var svg = d3.select("graph").append("svg")
				.attr("width", width)
				.attr("height", height);

	svg.append("defs").selectAll("marker")
	    .data(["high", "low", "medium", "verylow"])
	  .enter().append("marker")
	    .attr("id", function(d) { return d; })
	    .attr("viewBox", "0 -5 10 10")
	    .attr("refX", 15)
	    .attr("refY", -1.5)
	    .attr("markerWidth", 6)
	    .attr("markerHeight", 6)
	    .attr("orient", "auto")
	  .append("path")
	    .attr("d", "M0,-5L10,0L0,5");

	var path = svg.append("g").selectAll("path")
	    .data(force.links())
	  .enter().append("path")
	    .attr("class", function(d) { return "link " + d.type; })
	    .attr("marker-end", function(d) { return "url(#" + d.type + ")"; });

	var circle = svg.append("g").selectAll("circle")
	    .data(force.nodes())
	  .enter().append("circle")
	    .attr("r", 13)
	    .call(force.drag);

	var text = svg.append("g").selectAll("text")
	    .data(force.nodes())
	  .enter().append("text")
	    .attr("x", 8)
	    .attr("y", ".31em")
	    .text(function(d) { return d.name; });


	// Use elliptical arc path segments to doubly-encode directionality.
	function tick() {
	  path.attr("d", linkArc);
	  circle.attr("transform", transform);
	  text.attr("transform", transform);
	}

	function linkArc(d) {
	  var dx = d.target.x - d.source.x,
	      dy = d.target.y - d.source.y,
	      dr = Math.sqrt(dx * dx + dy * dy);
	  return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
	}

	function transform(d) {
	  return "translate(" + d.x + "," + d.y + ")";
	}

	</script>
<div>

{% endblock %}
