{% macro navlink(endpoint,text,icon) %}
{%- if request.endpoint.endswith(endpoint) == True %}
<li class="active"><a href="{{endpoint}}"><i class="{{icon}}"></i><span>{{text}}</span> </a> </li>
{%- else %}
<li><a href="{{endpoint}}"><i class="{{icon}}"></i><span>{{text}}</span> </a> </li>
{%- endif %}
{% endmacro %}
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        {{ navlink("dashboard","Dashboard","icon-dashboard") }}
        {{ navlink("reports?keyword=ENOG410ZSWV&submit=Search","Phylogenitcs","icon-list-alt") }}
        {{ navlink("sunburst","Sunburst","icon-list-alt") }}
        {{ navlink("charts","Result Table","icon-bar-chart") }}
        {{ navlink("graph","Force Layout Graphs","icon-code") }}
        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i><span>Programming information</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/flowchart">Flowchart</a></li>
            <li><a href="/api">API's</a></li>
            <li><a href="https://github.com/xirect/textgraver">Github Link</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /container -->
  </div>
  <!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
